@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

/*main*/
body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 60px;
}

.container {
    margin: 0 auto;
    width: 1280px;
}

.logo_link {
    color: #4bcaff;
    font-size: 80px;
    text-decoration: none;
}

.logo_link span {
    color: #000;
}

.nav-box {
    background: #35444f;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    display: block;
    margin: 45px 0 50px;
    text-align: center;
}

.nav-box li {
    padding: 22px 42px;
    border-width: 0px 1px;
    border: 1px solid #35444f;
    display: inline-block;
}

.nav-box li:hover {
    background: #222f3a;
    border-color: #818181;
}

.content-img {
    height: 529px;
    display: flex;
    margin-bottom: 50px;
    border: 1px solid #35444f;
    align-items: center;
    justify-content: center;
}
.content-img img:hover{
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.content-img img{
    transition: all 0.7s;
}
.sidebar {
    width: 344px;
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
}

.nav-sidebar li {
    padding: 30px 44px;
    font-size: 28px;
    transition: all 0.7s;
}
.nav-sidebar li:hover a{
    -o-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.nav-sidebar li a {
    color: rgba(72, 88, 99, 255);
    text-decoration: none;
    transition: all 0.7s;
    display: block;
}

.nav-sidebar li:hover {
    background: #dbdbdb;
    font-weight: 500;
}

.content-inner {
    margin-left: 52px;
    display: inline-block;
    width: calc(100% - 410px);
}

p {
    padding: 0 30px 30px;
    line-height: 25px;
    font-size: 18px;
}

.footer-item {
    margin-top: 20px;
    background: #b4b7ba;
    align-items: center;
    padding: 0 24px;
}

.nav-footer {
    display: inline-block;
    width: calc(100% - 152px);
}

.nav-footer li {
    padding: 20px 10px;
    font-size: 24px;
    display: inline-block;
}

.nav-footer li a {
    color: #0c1927;
    text-decoration: none;
}

.nav-footer li a:hover {
    color: #3181a6;
    text-decoration: underline;
}